body, html {
	background-color: #C7C7C7;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#gameCanvas {

}

#score {
	float: right;
	font-size: 39px;
	color: #454545;
}
