* {
	font-family: montserrat;
}

body, html {
	background-color: #C7C7C7;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#game-canvas {
	float: left;
}

#score-align {
	float: left;
}

#score-box {
	float: left;
	padding: 10px;
	margin: 10px;
	margin-top: 0px;

	border-style: solid;
	border-width: 5px;
	border-color: #b5b5b5;

	width: 100%;
	max-width: 300px; 
}

#score-tag {
	float: left;
	font-size: 35px;
	color: #454545;
}

#score {
	float: left;
	font-size: 35px;
	color: #454545;
}

#hiscore-box {
	padding: 10px;
	margin: 10px;
	margin-top: 80px;

	border-style: solid;
	border-width: 5px;
	border-color: #b5b5b5;

	width: 100%;
	max-width: 300px;
	height: 395px;

	font-size: 20px;
	color: #454545;
}